<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ sonarr_port }}</Port>
  <UrlBase>{{ sonarr_urlbase }}</UrlBase>
  <BindAddress>{{ sonarr_bindaddress }}</BindAddress>
  <SslPort>{{ sonarr_sslport }}</SslPort>
  <EnableSsl>{{ sonarr_enablessl }}</EnableSsl>
  <ApiKey>{{ sonarr_apikey }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>{{ sonarr_branch }}</Branch>
</Config>