[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User={{sonarr_user}}
Group={{sonarr_group}}

Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /home/{{sonarr_user}}/.config/NzbDrone
ExecStartPre=/bin/chown {{sonarr_user}}:{{sonarr_group}} -R /home/{{sonarr_user}}/.config/NzbDrone
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target